<div class="footer" id="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__address">
				<h5>Наш адрес</h5>
				<ul>
					<li>СПб, пр. Мечникова, д 19, лит А, <span>офис 307</span></li>
					<li>Телефон: <a href="tel:8(812)5000523"><span>8 (812) 5000 523</span></a></li>
					<li>Email: info@asta-an.ru</li>
					<li>
						<a href="https://vk.com/astarealty" class="social" target="_blank">
							<img src="./images/vk.svg" alt="instagram">
						</a>
						<a href="http://instagram.com/astarealty" class="social" target="_blank">
							<img src="./images/instagram.svg" alt="instagram">
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__form">
				<div class="top__header">Напишите нам</div>

				<div id="footer-form">
					<div class="form__row">
						<label>
							<input type="text" placeholder="Имя *" name="name" autocomplete="off">
						</label>
					</div>
					<div class="form__row">
						<label>
							<input type="text" placeholder="Email *" name="mail" autocomplete="off">
						</label>
					</div>
					<div class="form__row">
						<label>
							<textarea placeholder="Сообщение" name="message" autocomplete="off"></textarea>
						</label>
					</div>
					<div class="form__row form__error hidden">
						Неверно заполнены поля формы!
					</div>

					<button type="button" class="btn btn--footer" id="submit-footer">
						<span>Отправить</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="footer__right">
			<ul>
				<li><a href="#top">Главная</a></li>
				<li><a href="#about">О нас</a></li>
				<li><a href="#services">Услуги</a></li>
				<li><a href="#advantages">Преимущества</a></li>
				<li><a href="#contacts">Контакты</a></li>
			</ul>
		</div>
		<div class="footer__left">
			&copy; 2018 аста <span>недвижимость</span>
		</div>
	</div>
</div>