.btn {
	position relative
	display inline-block
	vertical-align middle
	padding 15px 30px
	border 2px solid #fff
	outline none
	overflow hidden
	font-size 14px
	line-height 1
	color #fff
	background none
	cursor pointer
	text-decoration none
	transition color .2s .1s ease

	span {
		position relative
	}

	&:before {
		content ''
		display block
		position absolute
		top 0
		left 0
		width 400px
		height 300px
		background-color rgba(#fff, 0.8)
		transform rotate(30deg) translate(-456px, -20px)
		transition transform .5s ease
	}

	&:hover {
		font-weight 500
		color $top

		&:before {
			transform rotate(30deg) translate(-115px, -50px)
		}
	}

	@media screen and (max-width: $screen-xs - 1px) {
		transition background .5s ease

		&:hover {
			background-color #fff
		}

		&:before {
			display none
		}
	}

	@media screen and (min-width: $screen-md) {
		&:before {
			width 500px
			transform rotate(30deg) translate(-556px, -80px)
		}

		&:hover {
			&:before {
				transform rotate(30deg) translate(-115px, -80px)
			}
		}
	}
}

.btn--round {
	width 100%
	background-color $top
	border 2px solid $top
	border-radius 25px
	color #fff
	font-weight 400
	text-align center
	transition none
	transition background .3s ease, color .3s ease, border .3s ease

	&:before {
		content none
	}

	&:hover {
		background none
		border-color #fff
		color #fff
		font-weight 400
	}

	@media screen and (min-width: $screen-xs) {
		width auto
		padding 15px 35px
	}

	@media screen and (min-width: $screen-sm) {
		padding 20px 50px
		font-size 16px
		border-radius 35px
	}
}

.btn--footer {
	width 100%
	background-color $top
	border 1px solid $top
	border-radius 4px
	transition none
	transition all .3s ease

	&:before {
		content none
	}
	
	&:hover {
		background-color #fff
	}
}