{% extends "layout/layout.html" %}

{% block content %}
	<section class="section top" id="top">
		<div class="container">
			<div class="top__text">
				<h1>Сколько стоит Ваше время?</h1>
				<p>
					<span class="block-sm">Это самый дорогой жизненный ресурс.</span>
					Мы освобождаем его для Вас, решая все проблемы, связанные с квартирным вопросом.
				</p>
				<a href="#footer" class="btn btn--round" id="scroll-footer">Оставить заявку</a>
			</div>
		</div>
	</section>

	<section class="section about" id="about">
		<div class="container">
			<h2>О нас</h2>

			<p>Наше агентство заботится о своих клиентах, помогая решить все проблемы,
			связанные с приобретением или продажей недвижимости.
			Многолетний опыт позволяет найти оптимальное решение,
			а любовь к своему делу – превзойти Ваши ожидания.</p>

			<p>Мы работаем со всеми крупными застройщиками Санкт-Петербурга и
			Ленинградской области, а также с крупными банками
			и подрядными организациями.</p>

			<p>С удовольствием найдем Вам квартиру мечты в новостройке или на вторичном рынке,
			а также поможем продать жилье. Легко организовываем сделки
			с покупателями из любых регионов РФ.</p>
		</div>
	</section>

	<section class="section services" id="services">
		<div class="container">
			<h2>Наши услуги</h2>

			<ul>
				<li class="services__item">
					<img src="./images/new.jpg" alt="">
					<i>
						<img src='./images/new.svg'>
					</i>
					<div class="services__inner">
						<h4>НОВОСТРОЙКИ</h4>
						<p>Бесплатно найдем лучшую для Вас квартиру в новостройке</p>
					</div>
				</li>
				<li class="services__item">
					<img src="./images/second.jpg" alt="">
					<i>
						<img src='./images/second.svg'>
					</i>
					<div class="services__inner">
						<h4>ВТОРИЧНЫЙ РЫНОК</h4>
						<p>Осуществляем продажу Вашей недвижимости, а так же подбор квартиры на вторичном рынке.</p>
					</div>
				</li>
				<li class="services__item">
					<img src="./images/bank.jpg" alt="">
					<i>
						<img src='./images/bank.svg'>
					</i>
					<div class="services__inner">
						<h4>ИПОТЕКА</h4>
						<p>Наш ипотечный специалист предложит самые выгодные программы ипотеки, поможет получить одобрение даже в сложных случаях.</p>
					</div>
				</li>
				<li class="services__item">
					<img src="./images/soprovod.jpg" alt="сопровождение">
					<i>
						<img src='./images/help.svg'>
					</i>
					<div class="services__inner">
						<h4>СОПРОВОЖДЕНИЕ СДЕЛКИ</h4>
						<p>Если Вы уже выбрали объект недвижимости, мы организуем сделку, проверим документы и исключим риски.</p>
					</div>
				</li>
				<li class="services__item">
					<img src="./images/commerce.jpg" alt="">
					<i>
						<img src='./images/commerce.svg'>
					</i>
					<div class="services__inner">
						<h4>КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</h4>
						<p>Найдем помещение для Вашего бизнеса.</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="section services deals" id="deals">
		<div class="container">
			<ul>
				<li>
					<i>
						<img src='./images/happy.svg'>
					</i>
					<p><b id="counter1">0</b></p>
					<p>счастливых <br> покупателя</p>
				</li>
				<li>
					<i>
						<img src='./images/sale.svg'>
					</i>
					<p><b id="counter2">0</b></p>
					<p>квартир сменили <br> владельца</p>
				</li>
				<li>
					<i>
						<img src='./images/developer.svg'>
					</i>
					<p><b id="counter3">0</b></p>
					<p>надежных  <br> застройщика</p>
				</li>
				<li>
					<i>
						<img src='./images/building.svg'>
					</i>
					<p><b id="counter4">0</b></p>
					<p>квартир  в <br> новостройках</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="section services advantages" id="advantages">
		<div class="container">
			<h2>Преимущества</h2>

			<ul>
				<li>
					<i>
						<img src='./images/money.png'>
					</i>
					<h4>ЭКОНОМИМ ВАШИ ДЕНЬГи</h4>
					<p>Подберем самые выгодные предложения и акции.
						Найдем самую лучшую процентную ставку по ипотеке и сократим дополнительные расходы.</p>
				</li>
				<li>
					<i>
						<img src='./images/brain.png'>
					</i>
					<h4>БЕРЕЖЕМ ВАШИ НЕРВЫ</h4>
					<p>Покупка квартиры неотъемлемо связана с заполнением, составлением и проверкой множества документов.
						Вам не придется этим заниматься – бумажную волокиту берем на себя.</p>
				</li>
				<li>
					<i>
						<img src='./images/time.png'>
					</i>
					<h4>ЭКОНОМИМ ВАШЕ ВРЕМЯ</h4>
					<p>Самое ценное в жизни - это время! Наши специалисты помогут Вам сэкономить его.
						Нет необходимости обзванивать застройщиков и ездить по банкам.</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="section testimonials" id="testimonials">
		<div class="container">
			<h2>Отзывы</h2>

			<ul>
				<li>
					<div class="test__item">
						<p>Вообще случайно попала в агентство недвижимости - подруга посоветовала.
							Продавал мою квартиру Алексей. Весь процесс был долгий,
							почти два месяца. Все, в итоге, прошло хорошо.
						</p>
						<img src="./images/test1.jpg" alt="face">
						<h5>Дианова Алена</h5>
					</div>
				</li>

				<li>
					<div class="test__item">
						<p>
							Добрый день всем! Хочу выразить благодарность сотрудникам
							«Аста Недвижимость» за внимательное отношение к клиенту
							и помощь во всем, что было связано с покупкой квартиры.
							Обращусь с удовольствием еще!
						</p>
						<img src="./images/test5.jpg" alt="face">
						<h5>Юрий К.</h5>
					</div>
				</li>

				<li>
					<div class="test__item">
						<p>
							Покупали уже не первую квартиру через агентство недвижимости «Аста»Хочу выразить
							благодарность агентам, поводящим сделку.
							Сделку провели максимально быстро и грамотно с учётом моих пожеланий.
							(Этаж, корпус, квартира далеко от лифта) отдельно хотелось бы поблагодарить
							за информационную поддержку все было донесено и разъяснёно очень грамотно и доходчиво.
							Спасибо вам за ваш труд и терпение.

						</p>
						<img src="./images/test6.jpg" alt="face">
						<h5>Ольга</h5>
					</div>
				</li>

				<li>
					<div class="test__item">
						<p>
							У Антонины в 2015 году покупали квартиру.
							Много всего смотрели, и все не нравилось сначала.
							Но нашли ту-самую квартиру! И получилось купить уже в готовом доме, мы довольны.
							Все было быстро - в начале месяца начали выбирать,
							а в середине уже подписали договор. Спасибо большое
						</p>
						<img src="./images/test2.jpg" alt="face">
						<h5>Наташа и Саша</h5>
					</div>
				</li>

				<li>
					<div class="test__item">
						<p>
							Хочу сказать огромное спасибо вашему агентству за труд и терпение!
							Мы очень долго думали и выбирали квартиру...
							Нам подобрали варианты исходя из наших пожеланий) поддержали во всех вопросах.
							Спасибо большое, надеюсь мы не сильно вам надоели)) всем советуем теперь.
						</p>
						<img src="./images/test3.jpg" alt="face">
						<h5>Татьяна Гармаш</h5>
					</div>
				</li>

				<li>
					<div class="test__item">
						<p>
							Впервые столкнулся с необходимостью продать/купить квартиру, поэтому было лишь общее представление, что и как следует делать. Очень благодарен агентству недвижимости "Аста", в лице Марии,которая не только терпеливо ответила на все вопросы (порой, возможно, дурацкие), но и проконтролировала на всех этапах сначала продажу, а затем и покупку новой недвижимости. Хочу отметить профессионализм и внимательное, даже чуткое, отношение к клиентам, а также то, как мало времени занял весь процесс. Если вновь понадобится купить/продать квартиру - только к вам) Спасибо!
						</p>
						<img src="./images/test4.jpg" alt="face">
						<h5> Игорь Мартыненко</h5>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="section contacts" id="contacts">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1995.785037063827!2d30.412593356782097!3d59.98547508039155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696324cef390281%3A0x5b3450c091fb47e6!2z0L_RgC4g0JzQtdGH0L3QuNC60L7QstCwLCAxOSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NTI3MQ!5e0!3m2!1sru!2sru!4v1536676928181" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
{% endblock %}

{% block scripts %}
	<script src="./js/common.js"></script>
	<script src="./js/index.js"></script>
{% endblock %}