$font= 'Roboto', Arial, sans-serif

// COLORS

$top        = #4fa99f
$med        = #4db1b1
$bot        = #bcd9aa
$text       = #282c35
$light-text = #727780
$gray       = #ccc
$f7         = #f7f7f7
$footer     = #2d3441

// sizes

$gutter       = 25px
$container-xs = 570px
$container-sm = 940px
$container-md = 1400px

$screen-xs    = $container-xs + ($gutter * 2)
$screen-sm    = $container-sm + (($gutter + 5px) * 2)
$screen-md    = $container-md + (($gutter + 5px) * 2)