.services.deals {
	position relative
	background-color $med !important

	li {
		padding 10px
		background none
		border 0
		box-shadow none

		&:hover {
			box-shadow none
		}

		&:first-child {
			p {
				margin-top 10px
			}
		}
	}

	p {
		margin 10px 0
		font-size 16px
		color #fff
		font-weight 300
	}

	p + p {
		margin 0
	}

	i {
		width 60px
		height @width
	}

	b {
		font-size 30px
		line-height 1
		font-weight 500
	}

	br {
		display none
	}

	@media screen and (min-width: $screen-xs) {
		ul {
			display flex
			flex-flow row wrap
			margin -10px
		}

		li {
			width 45%
			margin 10px
		}
	}

	@media screen and (min-width: $screen-sm) {
		ul {
			margin 0
			justify-content space-between
		}

		li {
			width 25%
			margin 0
			transform translateY(0)
			opacity 1

			&:first-child {
				p {
					margin-top 20px
				}
			}
		}

		br {
			display block
		}

		p {
			margin 20px 0
			font-size 18px
		}

		b {
			font-size 40px
		}

		i {
			width 70px
			height @width
		}
	}

	@media screen and (min-width: $screen-md) {
		p {
			font-size 22px
		}
	}
}