.testimonials {
	background-color #fff !important

	li {
		position relative
		margin-bottom 90px
		background #fff
		border-radius 5px
		box-shadow 0 0 15px 0px rgba(0, 0, 0, 0.2)
		cursor default
		transition all .3s ease

		@media screen and (min-width: $screen-sm) {
			width 30%
			height 200px
			opacity 0
			transform translateY(100px)

			&:hover {
				box-shadow none
				z-index 1

				.test__item {
					padding-bottom 60px
					height auto
					box-shadow 0 0 15px 5px rgba(0, 0, 0, 0.2)
				}

				p {
					height auto
					overflow visible
				}

				img {
					position relative
				}

				h5 {
					position relative
					bottom -40px
					color #000
				}
			}
		}

		@media screen and (min-width: $screen-md) {
			padding 30px 30px 40px
		}
	}

	p {
		margin-bottom 0
		background-color #fff
		font-style italic
		font-weight 400
		font-size 14px
		line-height 22px

		@media screen and (min-width: $screen-sm) {
			position relative
			height 130px
			overflow hidden
		}
	}

	img {
		position absolute
		bottom -30px
		left 0
		right 0
		margin 0 auto
		width 60px
		border-radius 50%
	}

	h5 {
		position absolute
		bottom -60px
		left 0
		right 0
		margin 0 auto
		font-size 14px
		line-height 20px
		font-weight 500
		font-style normal
	}

	ul {
		@media screen and (min-width: $screen-xs) {
			display flex
			flex-flow row wrap
			justify-content space-between
		}
	}
}

.test__item {
	padding 25px 25px 40px
	background #fff
	border-radius 5px

	@media screen and (min-width: $screen-sm) {
		position absolute
		top 0
		left 0
		min-height 200px
	}

	@media screen and (min-width: $screen-md) {
		padding 30px 30px 40px
	}
}

.testimonials.animate {
	@media screen and (min-width: $screen-sm) {
		li {
			opacity 1
			transform translateY(0)
		}
	}
}